{% load static %}

{% block extra_css %}

<!-- DataTables -->
<link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet"
	type="text/css" />
<link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet"
	type="text/css" />
<link href="{% static 'libs/datatables.net-select-bs4/css//select.bootstrap4.min.css' %}" rel="stylesheet"
	type="text/css" />

<!-- Responsive datatable examples -->
<link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet"
	type="text/css" />

{% endblock extra_css %}

{% block content %}
<div class="row">
	<div class="row">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-body">

						<h4 class="card-title">Estructura de la tabla</h4>
						<p class="card-title-desc">Se muestra la estructura de columnas y filas de la tabla. Para
							exportarla, presiona en el botón de
							<b>CSV</b> o <b>Excel</b>, según como desees el formato.
						</p>

						<table id="datatable-buttons" class="table table-striped table-bordered" style=" width: 100%;">
							{% autoescape off %}
							{{tabla}}
							{% endautoescape %}
						</table>
					</div>
				</div>
			</div> <!-- end col -->
		</div> <!-- end row -->


		<div class="row">
			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<div class="d-flex">
							<div class="flex-1 overflow-hidden">
								<p class="text-truncate font-size-14 mb-2">Número de pacientes</p>
								<h4 class="mb-0">{{observaciones}}</h4>
							</div>
							<div class="text-primary ms-auto"> <i class="ri-stack-line font-size-24"></i>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<div class="d-flex">
							<div class="flex-1 overflow-hidden">
								<p class="text-truncate font-size-14 mb-2">Pacientes con trastorno de aprendizaje</p>
								<h4 class="mb-0">{{trastorno_c}}</h4>
							</div>
							<div class="text-primary ms-auto"> <i class="ri-stack-line font-size-24"></i>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<div class="d-flex">
							<div class="flex-1 overflow-hidden">
								<p class="text-truncate font-size-14 mb-2">Pacientes con trastorno de aprendizaje de
									tipo RR</p>
								<h4 class="mb-0">{{rr}}</h4>
							</div>
							<div class="text-primary ms-auto"> <i class="ri-stack-line font-size-24"></i>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<div class="d-flex">
							<div class="flex-1 overflow-hidden">
								<p class="text-truncate font-size-14 mb-2">Pacientes con trastorno de aprendizaje de
									tipo VV</p>
								<h4 class="mb-0">{{vv}}</h4>
							</div>
							<div class="text-primary ms-auto"> <i class="ri-stack-line font-size-24"></i>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<div class="d-flex">
							<div class="flex-1 overflow-hidden">
								<p class="text-truncate font-size-14 mb-2">Pacientes con trastorno de aprendizaje de
									tipo EE</p>
								<h4 class="mb-0">{{ee}}</h4>
							</div>
							<div class="text-primary ms-auto"> <i class="ri-stack-line font-size-24"></i>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<div class="d-flex">
							<div class="flex-1 overflow-hidden">
								<p class="text-truncate font-size-14 mb-2">Pacientes con trastorno de aprendizaje de
									tipo NN</p>
								<h4 class="mb-0">{{nn}}</h4>
							</div>
							<div class="text-primary ms-auto"> <i class="ri-stack-line font-size-24"></i>
							</div>
						</div>
					</div>

				</div>
			</div>


			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<div class="d-flex">
							<div class="flex-1">
								<p class="text-truncate font-size-14 mb-2">Distribución del sexo de pacientes</p>
								{% autoescape off %}
								{{plot_div}}
								{% endautoescape %}
							</div>
							<div class="text-primary ms-auto"> <i class="ri-stack-line font-size-24"></i>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<div class="d-flex">
							<div class="flex-1">
								<p class="text-truncate font-size-14 mb-2">Distribución de edad de los pacientes</p>
								{% autoescape off %}
								{{edad}}
								{% endautoescape %}
							</div>
							<div class="text-primary ms-auto"> <i class="ri-stack-line font-size-24"></i>
							</div>
						</div>
					</div>

				</div>
			</div>



			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<div class="d-flex">
							<div class="flex-1">
								<p class="text-truncate font-size-14 mb-2">Distribución de trastorno</p>
								{% autoescape off %}
								{{trastorno}}
								{% endautoescape %}
							</div>
							<div class="text-primary ms-auto"> <i class="ri-stack-line font-size-24"></i>
							</div>
						</div>
					</div>

				</div>
			</div>





		</div>

		<div class="row">
			<div class="row ">
				<div class="col-12">
					<div class="card ">
						<div class="card-body">

							<h4 class="card-title">Matriz de correlaciones de variables de salida</h4>
							<p class="card-title-desc">El objetivo de este paso es comprender cómo las variables del 
								conjunto de datos de entrada varían de la media entre sí, o en otras palabras,
								 para ver si existe alguna relación entre ellas. Porque a veces, las variables 
								 están altamente correlacionadas de tal manera que contienen información redundante. 
								 Entonces, para identificar estas correlaciones, calculamos la matriz de covarianza.
							</p>

							{% autoescape off %}
							{{cor}}
							{% endautoescape %}

						</div>
					</div>
				</div> <!-- end col -->
			</div> <!-- end row -->
		</div>

		<div class="row">
			<div class="row ">
				<div class="col-12">
					<div class="card ">
						<div class="card-body">

							<h4 class="card-title">Diagrama de barras entre CLINICA y Trastorno</h4>
							<p class="card-title-desc"> Tras el análisis exploratorio, se descubrió que es mucho más probable que un paciente
								con epilepsia tenga algún tipo de trastorno de aprendizaje. Se muestra este comportamiento para el conjunto de datos
							</p>

							{% autoescape off %}
							{{clinica_tras}}
							{% endautoescape %}

						</div>
					</div>
				</div> <!-- end col -->
			</div> <!-- end row -->
		</div>

		<div class="row">
			<div class="row ">
				<div class="col-12">
					<div class="card ">
						<div class="card-body">

							<h4 class="card-title">Diagrama de barras entre CLINICA y Razonamiento Lógico</h4>
							<p class="card-title-desc">
				
							</p>

							{% autoescape off %}
							{{clinica_raz}}
							{% endautoescape %}

						</div>
					</div>
				</div> <!-- end col -->
			</div> <!-- end row -->
		</div>


		<div class="row">
			<div class="row ">
				<div class="col-12">
					<div class="card ">
						<div class="card-body">

							<h4 class="card-title">Diagrama de barras de TIPO caracterizado por Trastorno VV EE NN</h4>
							<p class="card-title-desc">Se muestra el diagrama de barras para la clases de TIPO y la caracterización de trastorno general. 

							</p>

							{% autoescape off %}
							{{tipoall}}
							{% endautoescape %}

						</div>
					</div>
				</div> <!-- end col -->
			</div> <!-- end row -->
		</div>

		<div class="row">
			<div class="row ">
				<div class="col-12">
					<div class="card ">
						<div class="card-body">

							<h4 class="card-title">Diagrama de barras de TIPO caracterizado por Trastorno NN</h4>
							<p class="card-title-desc">Se muestra el diagrama de barras para la clases de TIPO y la caracterización de trastorno NN. 

							</p>

							{% autoescape off %}
							{{alteracionnn}}
							{% endautoescape %}

						</div>
					</div>
				</div> <!-- end col -->
			</div> <!-- end row -->
		</div>

		<div class="row">
			<div class="row ">
				<div class="col-12">
					<div class="card ">
						<div class="card-body">

							<h4 class="card-title">Diagrama de barras de TIPO caracterizado por Trastorno EE</h4>
							<p class="card-title-desc">Se muestra el diagrama de barras para la clases de TIPO y la caracterización de trastorno EE. 

							</p>

							{% autoescape off %}
							{{alteracionee}}
							{% endautoescape %}

						</div>
					</div>
				</div> <!-- end col -->
			</div> <!-- end row -->
		</div>

		<div class="row">
			<div class="row ">
				<div class="col-12">
					<div class="card ">
						<div class="card-body">

							<h4 class="card-title">Diagrama de barras de TIPO caracterizado por Trastorno VV</h4>
							<p class="card-title-desc">Se muestra el diagrama de barras para la clases de TIPO y la caracterización de trastorno VV. 

							</p>

							{% autoescape off %}
							{{alteracionvv}}
							{% endautoescape %}

						</div>
					</div>
				</div> <!-- end col -->
			</div> <!-- end row -->
		</div>




		<div class="row">
			<div class="row ">
				<div class="col-12">
					<div class="card ">
						<div class="card-body">

							<h4 class="card-title">Diagrama de puntos para pruebas de NN EE VV</h4>
							<p class="card-title-desc">En el conjunto de datos original, se evidenció una alta correlación entre el puntaje de las prueba, es decir, 
								si un paciente tuvo un puntaje alto en alguna de las pruebas, lo más probalbe es que en las demás también tenga puntajes altos. 

							</p>

							{% autoescape off %}
							{{reg}}
							{% endautoescape %}

						</div>
					</div>
				</div> <!-- end col -->
			</div> <!-- end row -->
		</div>







	</div>

	<!-- end row -->



	{% endblock content %}

	{% block extra_javascript %}
	<!-- Required datatable js -->
	<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
	<!-- Buttons examples -->
	<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
	<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
	<script src="{% static 'libs/jszip/jszip.min.js' %}"></script>
	<script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
	<script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
	<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
	<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
	<script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>

	<script src="{% static 'libs/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
	<script src="{% static 'libs/datatables.net-select/js/dataTables.select.min.js' %}"></script>

	<!-- Responsive examples -->
	<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

	<!-- Datatable init js -->
	<script src="{% static 'js/pages/datatables.init.js' %}"></script>
	{% endblock extra_javascript %}