{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}
        <!-- Plugins css -->
        <link href="{% static 'libs/dropzone/min/dropzone.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}

{% block content %}                        
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
        
                                        <h4 class="card-title">Ingreso de información</h4>
                                        <p class="card-title-desc">Para actualizar la información del conjunto de datos de Trasplante Renal, por favor seleccione el archivo csv que contiene los datos
                                        </p>
                                        <form action="{% url "update" %}" method="POST" enctype="multipart/form-data" class="form-horizontal"> 
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">File: </label>
                                                <div class="col-md-8">
                                                    <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">
                                                </div>                    
                                            </div>

                                            <div class="form-group">                    
                                                <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                                                     <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Actualizar </button>
                                                </div> 
                                            </div>


                                            </form>
                                            {% for message in messages %}
                                            <div class="alert {{ message.tags }} mb-4" role="alert">
                                                <strong>{{ message }}</strong>
                                            </div>
                                            {% endfor %}
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
{% endblock content %}	

{% block extra_javascript %}
        <!-- Plugins js -->
        <script src="{% static 'libs/dropzone/min/dropzone.min.js' %}"></script>
{% endblock extra_javascript %}